
  <app-navbar></app-navbar> <!-- Navbar -->

    <!-- Hero Section -->
    <header class="hero">
        <h1>Welcome to Scrapify</h1>
        <p>Your sustainable marketplace for buying, selling, and recycling scrap materials.discover value in every piece.</p>
        <div class="cta-buttons">
            <a routerLink="/browse" href="#browse" class="btn">Browse Scrap</a>
            <a routerLink="/sell" href="#sell" class="btn">Sell Your Scrap</a>
            <a routerLink="/join" href="#join" class="btn">Join the Community</a>
        </div>
    </header>

    
 <router-outlet></router-outlet> 

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Scrapify. All rights reserved.</p>
    </footer>
    
