<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/" class="logo">
            <img src="assets/logo.jpg" alt="Scrapify Logo" class="logo-image moving-logo">
        </a>
    </div>
   
    
    <div class="navbar-menu-container">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/about">About</a>
            </li>
            <li class="navbar-item dropdown">
                <a href="#" class="dropdown-toggle">Services ▼</a>
                <div class="dropdown-content">
                    <a routerLink="/browse">Scrap Buying</a>
                    <a routerLink="/sell">Scrap Selling</a>
                </div>
            </li>
            <li class="navbar-item pickup-request">
                <a routerLink="/pickup-request">Pickup Request</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>










<!-- <nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/" class="logo">
            <img src="assets/logo.jpg" alt="Scrapify Logo" class="logo-image">
            
        </a>
    </div>
    <div class="navbar-menu-container">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/about">About</a>
            </li>
            <li class="navbar-item dropdown">
                <a href="" class="dropdown-toggle">Services ▼</a>
                <div class="dropdown-content">
                    <a routerLink="/browse">Scrap buying </a>
                    <a routerLink="/sell">Scrap Selling</a>
                </div>
                <li class="navbar-item pickup-request">
                    <a routerLink="/pickup-request">Pickup Request</a>
                
            </li>
            <li class="navbar-item">
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav> -->