/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none; /* Remove underline from all links */
}

a:hover {
    text-decoration: underline; /* Optional: Add underline on hover for all links */
}
